
#tbl0 {
  width: 100%;
}

#topNav .menu #menu0 {
  margin: 0 auto;
}

#tbl0 td {width: auto !important;}


#topNav .menu td img, #leftNav .menu td img {
  display: none !important;
}
#topNav .menu table, #leftNav .menu table {
  margin: 0;
  padding: 0;
}

#tbl0 td[id*="sep"] {
  background-repeat: no-repeat !important;
  background-position: top center !important;
  
  overflow: hidden;
}



#topNav .menu td.nav a, #topNav .menu td.nav_hover a {
  
  font-size: 15px;
  font-family: 'Lato', sans-serif;
  text-transform: uppercase;
  display: block;
  text-align: center;
  text-decoration: none;
  letter-spacing: 2px;
  padding: 25px 10px 26px;
  height: 22px;
}
#topNav .menu td.nav_hover a, #topNav .menu td.nav_selected a {
  
  
  font-size: 15px;
  font-family: 'Lato', sans-serif;
  text-transform: uppercase;
  display: block;
  letter-spacing: 2px;
  text-align: center;
  text-decoration: none;
  padding: 25px 10px 26px;
  height: 22px;
}

#topNav .mmenucontainer + .mmenucontainer > .milonictable {
  background-color: #fff;
  border: 1px dotted #c8c8c8;
  padding: 5px 0 !important;
}


#topNav .menu td.subnav a, #topNav .menu td.subnav_hover a {
  
  text-decoration: none;
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  padding: 5px 15px;
  height: auto;
  text-transform: none;
  letter-spacing: 0;
  text-align: left;
  font-weight: normal;

}
#topNav .menu td.subnav_hover a, #topNav .menu td.subnav_selected a {
  
  text-decoration: none;
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  padding: 5px 15px;
  letter-spacing: 0;
  font-weight: normal;
}

#topNav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
  font-family: 'Lato', sans-serif;
}
#topNav li {
  display: inline-block;
}
#topNav li a {
  font-size: 15px;
  text-transform: uppercase;
  display: block;
  text-align: center;
  text-decoration: none;
  color: #000;
  letter-spacing: 2px;
  padding: 25px 25px 26px;
  height: 22px;
}
#topNav li a:hover, #topNav li.nav_selected a {
  color: #89831c;
  letter-spacing: 2px;
  background: url(../images/template/top-nav-bg-hover.png) repeat-x bottom left;
}

#leftNav script + table {
  width: 100%;
}


#leftNav .menu script + div > table:first-child {
  width: 100%;
}

#leftNav .menu > .mmenucontainer td.nav a, #leftNav .menu > .mmenucontainer td.nav_hover a {
  
  font-family: 'Lato', sans-serif;
  display: block;
  font-size: 14px;
  padding: 6px 4px 6px 12px;
  text-decoration: none;
  white-space: normal;
  border-bottom: 1px dotted #d3d3d3 !important;
}
#leftNav .menu > .mmenucontainer td.nav_hover a, #leftNav .menu > .mmenucontainer td.nav_selected a {
  
  border: none;
  text-decoration: none;
}

#leftNav .mmenucontainer + .mmenucontainer > .milonictable {
  background-color: #fff;
  border: 1px dotted #d3d3d3;
}


#leftNav .menu > .mmenucontainer td.subnav a, #leftNav .menu > .mmenucontainer td.subnav_hover a {
  
  border: none !important;

}
#leftNav .menu > .mmenucontainer td.subnav_hover a, #leftNav .menu > .mmenucontainer td.subnav_selected a {
  

}


#leftNav .menu script + table {
  width: 100%;
}

#leftNav .menu td.nav a, #leftNav .menu td.nav_hover a {
  
  font-family: 'Lato', sans-serif;
  display: block;
  font-size: 14px;
  padding: 6px 4px 6px 12px; 
  text-decoration: none;
  white-space: normal;
  border-bottom: 1px dotted #d3d3d3 !important;
} 
#leftNav .menu td.nav_hover a, #leftNav .menu td.nav_selected a {
  
  font-family: 'Lato', sans-serif;
  display: block;
  font-size: 14px;
  padding: 6px 4px 6px 12px;
  text-decoration: none;
  white-space: normal;
  border-bottom: 1px dotted #d3d3d3 !important;
}

#leftNav .menu td.subnav a, #leftNav .menu td.subnav_hover a {
  
  border: none !important;
  padding: 3px 4px 3px 26px;
  text-decoration: none;
}
#leftNav .menu td.subnav_hover a, #leftNav .menu td.subnav_selected a {
  
  text-decoration: none;

}

#leftNav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
#leftNav li {
  white-space: normal;
}
#leftNav li a {
  color: #333333;
  font-family: 'Lato', sans-serif;
  display: block;
  font-size: 14px;
  padding: 6px 4px 6px 12px;
  border-bottom: 1px dotted #d3d3d3;
}
#leftNav li a:hover, #leftNav li.nav_selected a {
  color: #89831c;
  text-decoration: none;
}

#display_menu_1 .nav a {color: #000000;}
#display_menu_1 .nav_hover a {color: #89831c;}
#display_menu_1 .nav {background-color:transparent;}
#display_menu_1 .nav_hover {background-color:transparent;}
#display_menu_2 .nav a {color: #333333;}
#display_menu_2 .nav_hover a {color: #89831c;}
#display_menu_2 .nav {background-color:transparent;}
#display_menu_2 .nav_hover {background-color:transparent;}
#display_menu_3 .nav a {color: #333333;}
#display_menu_3 .nav_hover a {color: #89831c;}
#display_menu_3 .nav {background-color:transparent;}
#display_menu_3 .nav_hover {background-color:transparent;}
#display_menu_4 .nav a {color: #333333;}
#display_menu_4 .nav_hover a {color: #89831c;}
#display_menu_4 .nav {background-color:transparent;}
#display_menu_4 .nav_hover {background-color:transparent;}
#display_menu_5 .nav a {color: #333333;}
#display_menu_5 .nav_hover a {color: #89831c;}
#display_menu_5 .nav {background-color:transparent;}
#display_menu_5 .nav_hover {background-color:transparent;}
#display_menu_6 .nav a {color: #333333;}
#display_menu_6 .nav_hover a {color: #89831c;}
#display_menu_6 .nav {background-color:transparent;}
#display_menu_6 .nav_hover {background-color:transparent;}
#display_menu_7 .nav a {color: #333333;}
#display_menu_7 .nav_hover a {color: #89831c;}
#display_menu_7 .nav {background-color:transparent;}
#display_menu_7 .nav_hover {background-color:transparent;}
#display_menu_8 .nav a {color: #333333;}
#display_menu_8 .nav_hover a {color: #89831c;}
#display_menu_8 .nav {background-color:transparent;}
#display_menu_8 .nav_hover {background-color:transparent;}
