</div><!-- #content_area -->

<!-- ==================== LEFT NAV  ==================== -->
        <div id="leftNav">
          
          <!-- ========== MENU 2 ========== 
          <div id="Menu2_Title" class="menu_title"></div>
          <div id="display_menu_2" class="menu">
<script type="text/javascript">var breadCrumb="||";</script>
<script type="text/javascript">
function mOvr2(src)
{ if (src.className != 'nav nav_hover nav_selected') src.className = 'nav nav_hover'; }
function mOut2(src)
{ if (src.className != 'nav nav_hover nav_selected') src.className = 'nav'; }
function mClk2(src, popup) 
{ if (!popup) {window.location=src.getElementsByTagName('A')[0].getAttribute('href');} else {window.open(src);} }
</script>
<table width="100%" border="0" cellspacing="0" cellpadding="0" align="center">
	<tr class="nav" onmouseover="mOvr2(this);" onmouseout="mOut2(this);"> 
		<td onclick="mClk2(this);" width="1%" valign="top">
			<a href="/aboutus.asp" title="">
			<img src="/v/vspfiles/templates/SM0914/images/Template/Menu2_Bullet.gif" border="0" align="absmiddle"></a></td>
		<td onclick="mClk2(this);" width="100%" valign="middle">
			<a href="/aboutus.asp" title="">About Us</a>
		</td>
	</tr>
<tr>
	<td colspan="2" class="colors_lines"><img src="/v/vspfiles/templates/SM0914/images/clear1x1.gif" width="1" height="1"></td>
</tr>
	<tr class="nav" onmouseover="mOvr2(this);" onmouseout="mOut2(this);"> 
		<td onclick="mClk2(this);" width="1%" valign="top">
			<a href="/returns.asp" title="">
			<img src="/v/vspfiles/templates/SM0914/images/Template/Menu2_Bullet.gif" border="0" align="absmiddle"></a></td>
		<td onclick="mClk2(this);" width="100%" valign="middle">
			<a href="/returns.asp" title="">Returns</a>
		</td>
	</tr>
<tr>
	<td colspan="2" class="colors_lines"><img src="/v/vspfiles/templates/SM0914/images/clear1x1.gif" width="1" height="1"></td>
</tr>
	<tr class="nav" onmouseover="mOvr2(this);" onmouseout="mOut2(this);"> 
		<td onclick="mClk2(this);" width="1%" valign="top">
			<a href="/articles.asp?ID=57" title="">
			<img src="/v/vspfiles/templates/SM0914/images/Template/Menu2_Bullet.gif" border="0" align="absmiddle"></a></td>
		<td onclick="mClk2(this);" width="100%" valign="middle">
			<a href="/articles.asp?ID=57" title="">Shipping</a>
		</td>
	</tr>
<tr>
	<td colspan="2" class="colors_lines"><img src="/v/vspfiles/templates/SM0914/images/clear1x1.gif" width="1" height="1"></td>
</tr>
	<tr class="nav" onmouseover="mOvr2(this);" onmouseout="mOut2(this);"> 
		<td onclick="mClk2(this);" width="1%" valign="top">
			<a href="/help.asp" title="">
			<img src="/v/vspfiles/templates/SM0914/images/Template/Menu2_Bullet.gif" border="0" align="absmiddle"></a></td>
		<td onclick="mClk2(this);" width="100%" valign="middle">
			<a href="/help.asp" title="">Site Help / FAQ</a>
		</td>
	</tr>
</table>
</div><!-- #display_menu_2 -->
          <!-- ========== MENU 3 ==========
          <div id="Menu3_Title" class="menu_title"></div>
          <div id="display_menu_3" class="menu"></div><!-- #display_menu_3 -->
          <!-- ========== MENU 4 ==========
          <div id="Menu4_Title" class="menu_title"></div>
          <div id="display_menu_4" class="menu"></div><!-- #display_menu_4 -->
          <!-- ========== MENU 5 ==========
          <div id="Menu5_Title" class="menu_title"></div>
          <div id="display_menu_5" class="menu"></div><!-- #display_menu_5 -->
          <!-- ========== MENU 6 ==========
          <div id="Menu6_Title" class="menu_title"></div>
          <div id="display_menu_6" class="menu"></div><!-- #display_menu_6 -->
          <!-- ========== MENU 7 ==========
          <div id="Menu7_Title" class="menu_title"></div>
          <div id="display_menu_7" class="menu"></div><!-- #display_menu_7 -->
          <!-- ========== MENU 8 ==========
          <div id="Menu8_Title" class="menu_title"></div>
          <div id="display_menu_8" class="menu"></div><!-- #display_menu_8 -->
    
          <div id="display_promotions_999" class="clear"><BR><IMG src="/v/vspfiles/assets/images/newcc_logos.png" border=0><BR><div id="VolusionVerified"></div>
                                <script type="text/javascript" src="https://verify.volusion.com/verification/www.skiermassage.com" defer="defer"></script></div>
    
        </div><!-- #leftNav -->

    
    
      </div><!-- #content -->
    
    </div><!-- #contentWrap -->

  </div><!-- #pageWrapper -->
  <div id="footerWrap">
    <!-- ==================== FOOTER ==================== -->
    <div id="footer" class="clear">
    
    	<div id="footer_links">
            <ul>
                <li><a href="/AboutUs.asp" title="Company Info" />Company Info</a></li>
                <li><a href="/Contact-Us-a/252.htm" title="Contact Us" />Contact Us</a></li>
                <li><a href="/Terms_Privacy.asp" title="Privacy Policy" />Privacy Policy</a></li>
            </ul>
            <ul>
                <li><a href="/Login.asp" title="Sign In / Register" />Sign In / Register</a></li>
                <li><a href="/shoppingcart.asp" title="Shopping Cart" />Shopping Cart</a></li>
                <li><a href="/MyAccount.asp" title="Ordering & Shipping" />Ordering & Shipping</a></li>
            </ul>
            <ul class="last-col">
                <li><a href="/ProductsList.asp" title="Product Index" />Product Index</a></li>
                <li><a href="/Terms.asp" title="Terms & Conditions" />Terms & Conditions</a></li>
                <li><a href="/Help.asp" title="FAQ/Help" />FAQ/Help</a></li>
            </ul>
    	</div><!-- #Footer Links -->
        
        <div id="social_icons">
        	<span>Stay Intouch with us on:</span>
<!--              <a href="http://www.twitter.com/skiermassage" title="Twitter"><img src="/v/vspfiles/templates/SM0914/images/template/twitter-icon.jpg" alt="Twitter"></a> -->
<!--  			<a href="http://www.facebook.com/skiermassage" title="Facebook"><img src="/v/vspfiles/templates/SM0914/images/template/fb_icon.jpg" alt="Facebook"></a> -->
<!--              <a href="https://www.pinterest.com/skiermassage/" title="Pinterest"><img src="/v/vspfiles/templates/SM0914/images/template/pin_icon.jpg" alt="Pinterest"></a> -->
            <a href="http://instagram.com/skier_massage/" title="Instagram"><img src="/v/vspfiles/templates/SM0914/images/template/instagram_icon.jpg" alt="Instagram"></a>
        </div><!-- #Social Icons -->
        
        <div id="footer-newsletter">
        	<p>NEWSLETTER</p>
            <div id="eList">
          	<form name="MailingList" method="post" action="/MailingList_subscribe.asp">
            <input type="text" class="elistInput transition" name="emailaddress" value="" placeholder="name@email.com" />
            <input type="submit" name="Submit" class="elistSubmit" value="Submit" />
          	</form>
        	</div><!-- #eList -->
        </div><!-- #Newsletter -->
        
<!--         <div id="payement_cards"> -->
<!--         	<img src="/v/vspfiles/templates/SM0914/images/template/payment_cards.jpg" alt="Payment Cards"> -->
<!--         </div><!-- #PaymentCards -->

        
 <!--        <div id="volusion_ssl"> -->
 <!--          <a href="javascript:void(0);" onClick="window.open('https://www.volusion.com/ssl.asp?url=www.skiermassage.com', 'VolusionSSL', 'top=10,left=10,menubar=0,resizable=0,scrollbars=0,width=467,height=467')"><img src="/v/vspfiles/templates/SM0914/images/template/vsecure.png" alt=""></a>  -->
 <!--        </div><!-- #Volusion SSL -->


        <!-- (c) 2005, 2014. Authorize.Net is a registered trademark of CyberSource Corporation --> 
 <!--        <div id="authnet_seal">  -->
 <!--       <div class="AuthorizeNetSeal"> 
 <!--        <script type="text/javascript" language="javascript">var ANS_customer_id="a16e066b-789b-49fb-9841-83267728dd2b";</script> <script type="text/javascript" language="javascript" src="//verify.authorize.net/anetseal/seal.js" ></script>  -->
 <!--        </div> -->
 <!--        </div> -->


      <!--
      ==========================================================================================
      VOLUSION LINK - BEGIN
      ==========================================================================================
      Customer has agreed per Volusion's Terms of Service (http://www.volusion.com/agreement_monthtomonth.asp)
      to maintain a text hyperlink to "http://www.volusion.com" in the footer of the website. The link must be
      standard html, contain no javascript, and be approved by Volusion. Removing this link breaches the Volusion agreement.
      ==========================================================================================
      -->        
     <div id="copyright">Copyright &#169; 2015 Skier Massage. All Rights Reserved. Design & Developed by <a href="http://www.rapidwebservices.net/" title="RapidWebServices" / target="_blank">RWS.</a></div>
    </div><!-- #footer -->
  </div>
  <script src="/v/vspfiles/templates/SM0914/js/common.min.js"></script>
  



<script type="text/javascript">function store_init(event){} AttachEvent(window, 'load', store_init);</script>

<script type="text/javascript">
	if (!/\/shoppingcart\.asp/i.test(window.location.pathname)) {
		jQuery(document).ready(function() {
			jQuery('a').each(AddCartLink)
		});
	}
</script>

</body>
</html>