<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="Description" content="Portable massage stick for skiing. Relieve ski boot pain, sore muscles, speed muscle recovery, muscle compression and trigger point release." />
<meta name="Keywords" content="Skiing, massage, ski, apres ski, snowboarding, health, fitness, winter sports, Tiger Tail, the Stick, athletic goods" />
<title>The Skier Massage</title>
<meta name="robots" content="index,follow" />
<meta name="GOOGLEBOT" content="INDEX, FOLLOW" />


<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jqueryui/1.8.4/jquery-ui.min.js"></script>

<link type="text/css" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.8.4/themes/base/jquery-ui.css" rel="stylesheet" />
<link type="text/css" href="/a/c/default.css" rel="stylesheet" />


<script type="text/javascript">
	var Config_VCompare_MaxProducts = '3';
	var PageText_783 = "Compare";
	var PageText_784 = "Change Selections";
	var PageText_785 = "You've attempted to select more than {0} items. Click {1} to continue with your initial {0} items or {2} to change your selections.";
	var PageText_819 = "Product Comparison";
    var PageText_822 = "Compare";
    var PageText_840 = "Create Password";
    var PageText_841 = "Retype Password";
    var PageText_842 = "Added to cart";
    var PageText_843 = "Subtotal";
    var PageText_844 = "items in cart";
</script>
<script type="text/javascript" src="/a/j/volusion.js?6.94.0.1366"></script>
<script type="text/javascript">
    (function ($) {
        volusion.ready(function () {
            if (volusion.cart.isObservingCount()) {
                var ts = new Date().getTime();

                $.getJSON('/ajaxcart.asp?cachebust=' + ts, function (data) {
                    var quantityTotal = 0;
                    $.each(data.Products, function (key, val) {
                        if (val.IsProduct === 'Y') {
                            quantityTotal += parseInt(val.Quantity);
                        } else if (val.IsAccessory === 'Y') {
                            quantityTotal += parseInt(val.Quantity);
                        }
                    });
                    quantityTotal = quantityTotal || '0';
                    volusion.cart.itemCount(quantityTotal);
                });

            }
        });
    } (jQuery));
</script>


<script type="text/javascript" src="/a/j/soft_add.js"></script>
<link type="text/css" rel="stylesheet" href="/a/c/soft_add.css" />
<script type="text/javascript">
	var global_Config_EnableDisplayOptionProducts = 'False';	
	var global_Config_ForceSecureShoppingCartPage = false;
	var global_PageText_OtherItemsAdded = '(All other items have been added to the cart)';
	var Config_EnableSoftAddToCart = true;
</script>

<script type="text/javascript" src="/a/j/soft_add_mult.js"></script>
<script type="text/javascript" src="/a/j/javascripts.js?6_5_6.94.0.1366"></script>

<script type="text/javascript">
	var Config_Search_Auto_Complete = false;
</script>



  <!--
  DYNAMIC PAGE-SPECIFIC META TAGS WILL BE PLACED HERE
  DO NOT ADD YOUR OWN META TAGS
  ONLY PUT CSS/JAVSCRIPT INCLUDES IN YOUR HEAD TAG
  -->

  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width">
  <meta name="Description" CONTENT="Portable massage stick for skiing.  Relieve ski boot pain, sore muscles, speed muscle recovery, muscle compression and trigger point release.">  
  <meta id="v65-layout-mode" data-cart="storedot" data-checkout="storedot" data-use-simplified-checkout="true">
  <meta name="google-site-verification" content="WRLjS8DRTFgTbz8ZLHqv3AOu7PIPsYtbBnJzdC9rNDU" />

<!-- Pinterest verification -->
<meta name="p:domain_verify" content="54cb7fb661c4844793e12f7d19baa88e"/>

  <!-- LOGO UPLOAD DIMENSIONS -->
  <meta id="v65-logo-dimensions" data-height="73" data-width="640">
    
  <link href="/v/vspfiles/templates/SM0914/css/imports.css" rel="stylesheet">
  

  <script src="/v/vspfiles/templates/SM0914/js/design-toolkit_min.js"></script>
  <script>DTK.loadCSS("SM0914");</script> <!-- FOR CHECKOUT -->  
 

</head>

<!-- #################### FREE TEMPLATE INFO Cafe-MC-JMC-07302013 #################### -->

<!-- EDITABLE REGIONS ADD: data-v-edit-region="Region Name"-->

<!-- * * * DESIGNER AND DEVELOPER'S INFO * * *
Company Name: RapidWebServices.net
Email Address: rapidwebservices@gmail.com
Developer's Name: Irfan Y.
Date: 10th Sep, 2014
-->


<body>
  <noscript id="no-js-notice">
    To take full advantage of this site, please enable your browser's JavaScript feature.
    <a href="http://launchpad.volusion.com/kb_results.asp?ID=42" target="_blank">Learn how</a>
  </noscript>

<!-- 
* * * * * * * * * *   N O T E   * * * * * * * * * * 
TO TURN LEFT NAV ON, ADD .leftNavOn TO .pageWrapper 
E.G. <div class="pageWrapper leftNavOn"> 
-->

  <!-- ======================== PAGE WRAPPER  ======================== -->

  <div class="pageWrapper">
    <div id="headerWrap">
    <!-- ======================== HEADER ======================== -->
    <div id="header">

      <div id="logo">
        <h1 id="display_homepage_title"><span itemscope itemtype='http://schema.org/SportingGoodsStore'><meta itemprop='name' content='www.skiermassage.com'><a href="http://www.skiermassage.com/default.asp" title="www.skiermassage.com">www.skiermassage.com</a></span></h1>
      </div><!--if_homepage-->
      
      <div id="topnav">
      	<ul>
       	<li><a href="/skier-massage-p/skiermassage.htm" title="Shop Now" />Shop Now</a></li> 
            <li><a href="/how-to-use-a/253.htm" title="How to Use" />How to Use</a></li>
            <li style="border-right:none;"><a href="/Contact-Us-a/252.htm" title="Contact Us" />Contact Us</a></li>
            <li style="margin-left:245px;"><a href="/AboutUs.asp" title="About" />About</a></li>
            <li><a href="/Help.asp" title="FAQ" />FAQ</a></li>
            <li style="border-right:none;"><a href="/shoppingcart.asp" title="" />View Cart</a></li>
        </ul>
      </div><!--topnav-->
      
      <div id="cartWrapper">
          <span class="cartAnchor" data-v-anchor="cart">&nbsp;</span>
          <a href="/shoppingcart.asp" class="cartLink">&nbsp;</a>
          <span class="cartNum" data-v-observable="cart-count">&nbsp;</span>
      </div><!--Cart Wrapper-->


    </div><!-- #header -->
  
    </div>

  </div><!-- #headerWrap -->

<!-- =================== GOOGLE ANALYTICS ======================= -->

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=/g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-55621500-1', 'auto');
  ga('send', 'pageview');

</script>


    <!-- ==================== CONTENT ==================== -->
    
    
        
    <div id="contentWrap" class="clear">
      <div id="content" class="clear">

  <!-- InstaFeed Instagram Feed
<div id="instafeed"></div>
    <script src="/v/vspfiles/templates/SM0914/js/instafeed.min.js"></script>
    <script type="text/javascript">
        var userFeed = new Instafeed({
            get: 'user',
            userId: 1505755158,
            accessToken: '1505755158.467ede5.336e036c0f714efaae2075289caa22c1',
            limit: '10'
        });
        userFeed.run();
    </script>
    -->

        <!-- ==================== CONTENT AREA ==================== -->
        <div id="content_area">